{% extends "base.html" %}

{%block top%}
<a href="/">Home</a> > Contact
{%endblock%}

{%block content%}
<table width="100%" cellpadding=10 border=0>
	<tr><td>
		<table cellspacing=0 cellpadding=2 width=100% border=0>
			<tr>
				<td width=50>
					<img src="images/canadapost.jpg"/>
				</td>
				<td align=left valign="middle">
					6561 12th Av.<br>
					Montreal, QC<br>
					Canada<br>
					H1X 3A8<br>
				</td>
			</tr>
			<tr>
				<td width=50>
					<img src="images/phone.jpg"/>
				</td>
				<td valign="middle">
					tel. (514) 574-8499<br>
					http://basbrun.com
				</td>
			</tr>
		</table>
	</td></tr>
	<tr><td>
		<form action="" method=post>
			{%if error%}
				<p><span style="color:red">{{error}}</span></p>
			{%endif%}
			{%if message%}
				<p><span style="color:green">{{message}}</span></p>
			{%endif%}
			Your name:<br>
			<input type="text" size=32 name="fullname" {%if fullname%}value="{{fullname}}"{%endif%}/><br>
			Your email address:<br>
			<input type="text" size=32 name="email1" {%if email1%}value="{{email1}}"{%endif%}/><br>
			Enter your email again:<br>
			<input type="text" size=32 name="email2" {%if email2%}value="{{email2}}"{%endif%}/><br>
			Subject:<br>
			<input type="text" size=32 name="subject" {%if subject%}value="{{subject}}"{%endif%}/><br>
			Message:<br>
			<textarea cols=40 rows=4 name="body">{%if body%}{{body}}{%endif%}</textarea><br>
			<input type="submit" value="Send"/>
		</form>
	</td></tr>
</table>
{%endblock%}
