{% extends "base.html" %}

{%block top%}
Home
{%endblock%}

{%block content%}
<table width="100%" cellpadding=10 border=0>
	<tr>
		<td>
			<table width="100%" border=0 cellpadding="5">
			<tr><td>
				<b>GaeBase</b> is a basic website template with fully functional user management.
			</td></tr>
			<tr><td align="center">
				<hr>
				<p><span style="color:005500"><b>Not a member?<b></span></p><a href="/register" class="button"><span style="color:red">Register Now! It's FREE!</span></a>
			</td></tr>
			</table>
		</td>
	</tr>
</table>
{%endblock%}


